@media only screen and (min-width:50px) and (max-width:1000px) {
    h1{
    font-family:  'MaPolice', Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    
}
 .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1vw;
    padding: 5%;
    border: 1px solid black;
    border-radius: 2vw;
    /* background: #f9f9f9; */
    /* max-width: 100%; */
    margin: 2vw auto;
    /*height: 100vh;*/
    min-height:100vw;
    height: auto;
}
.photo1{
    /* height: 100%; */
    width: 100%;
    border-radius: 2%;
    text-align: center;
    padding: 6vw;
    color: rgb(179, 7, 7);
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.photo2{
    /* height: 100%; */
    width: 100%;
    border-radius: 2%;
    text-align: center;
    padding: 3vw;
    color: rgb(29,29,113);
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.photo3{
    /* height: 100%; */
    width: 100%;
    border-radius: 2%;
    text-align: center;
    padding: 6vw;
    color: rgb(93,128,167);
    box-sizing: border-box;
    overflow-wrap: break-word;

}

}

@media only screen and (min-width:185px) and (max-width: 350px) {
    h1 {
        font-family:  'MaPolice', Arial, sans-serif;
        font-size: 1em;
    }
}
@media only screen and (max-width: 185px) {
    h1{
        font-family:  'MaPolice', Arial, sans-serif;
        font-size: 0.5em;
    }
}