
body {
    background: linear-gradient(to bottom, #d8a3a3, #000000);
}
hr {
    height: 5px;
    background-color: black;
    border: none;
}

@font-face {
  font-family: 'MaPolice';
  src: url('images/Ethnocentric-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.photo1 {
    background: linear-gradient(to bottom, #404040,#343434, #d4e8ddb7);
    backdrop-filter: blur(10px);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 1rem;
}

.photo2 {
    background: linear-gradient(to bottom,#404040,#343434, #d4e8ddb7);
    backdrop-filter: blur(10px);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 1rem;
}

.photo3 {
    background: linear-gradient(to bottom, #404040,#343434, #d4e8ddb7);
    backdrop-filter: blur(10px);
    border: 7px solid rgb(0, 0, 0);
    border-radius: 1rem;
}




h1{
    text-align: center;
    font-size: 10em;
    font-family:  'MaPolice', Arial, sans-serif;
}
.description_general{
    text-align: center;
    font-size: 200%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10%;
    padding: 5%;
    border: 0.3vw solid #000;
    border-radius: 2vw;
    background: rgb(184, 138, 243);
    max-width: 100%;
    margin: 3vw auto;
    height: 30vw;
}

.photo1 img, .photo2 img, .photo3 img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: cover;
}


.photo1{
    height: 100%;
    width: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    
    padding: 20px;
    color: black;
    box-sizing: border-box;
    overflow-wrap: break-word;
   
}
.photo2{
    height: 100%;
    width: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
   
    padding: 20px;
    color: black;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.photo3{
    height: 100%;
    width: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    
    padding: 20px;
    color: black;
    box-sizing: border-box;
    overflow-wrap: break-word;

}


/* ajout recent */

