.bande{
  height: 5vw;
  background-color:#800000;
  display: flex;
  justify-content: left;
  gap: 10%;
  font-size: 5%;
  font-weight: bold;
}
body{
    background-color: beige;
}
h1{
    text-align: center;
    font-size: 500%;
    font-family: Serif;
}
.description_general{
    text-align: center;
    font-size: 200%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10%;
    padding: 5%;
    border: 0.3vw solid #000;
    border-radius: 2vw;
    background: #f9f9f9;
    max-width: 100%;
    margin: 3vw auto;
    height: 30vw;
}
.photo1{
    height: 100%;
    width: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background: black;
    padding: 3vw;
    color: rgb(78, 146, 206);
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.photo2{
    height: 100%;
    width: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background: #000;
    padding: 3vw;
    color: rgb(46, 126, 197);
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.photo3{
    height: 100%;
    width: 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background: black;
    padding: 3vw;
    color: rgb(64, 133, 194);
    box-sizing: border-box;
    overflow-wrap: break-word;

}
footer{
    margin-top: 5vw;
}